  <div id="serv_wrapper">

  <div class="leftcolumn">
    <div class="card">

    <%= image_tag("honey.jpg", :alt => "Salome", :class => "salimg") %>

      <h2>Salome Dagnachew</h2>
        <p class="title">CEO & Founder</p>
        <p>Salome’s vision has always been to provide a complete design service
          for her clients based on sound advice and hands-on experience, while maintaining a strong
          level of integrity and exemplary customer service. She previously worked for the
          German Technical Cooperation (now GIZ)., during her time there she rose to a senior managerial
          level, and now runs an organization that exceeds corporate expectations with well-designed
          residential and commercial interiors by combining unique styles, aesthetics and ergonomics
          into their work place. Aiming at boosting employee satisfaction, she is constantly bringing
          the company productivity and profits.</p>
          <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><p>salome@baroqueinethiopia.com</p></a>
    </div>
  </div>




  <div class="rightcolumn">
    <div class="card">

    <%= image_tag("Baroque_team.jpg", :alt => "Salome", :class => "teamimg") %>

      <h2>The Team</h2>
      <p>Baroque Interiors and Events was established in 2011 in Addis Ababa, Ethiopia.
      Our main business activity is to design both commercial and residential interiors as well as
      organizing all types of events.From real estate, property, hospitality, international finance,
      venture capital and leasing sectors, to international non-governmental organizations/development
      agencies, that our major customers are engaged in,  they are able to utilize our
      high valued services of customized office design solutions. We also work for high net worth private
      individual customers who want the most exquisite styles and interior designs for their homes/offices.

      With our great team of architects, civil and structural engineers in the building, construction and
      design trades, and other artisans and technicians, Baroque is able to offer highly satisfying work
      output on any given assignment, including undertaking local and/or foreign sourcing and procurement
      of valued materials and products on behalf of our clients.

      At Baroque Interiors and Events we value design innovation and artistic creativity. Even though we
      are new, we have pioneered a very unique concept in office interior design in Ethiopia. We are able
      to integrate corporate branding and image into the design and styling of the work place environment
      of our clients. On any given project, we put the interest of the customer first to ensure that we
      arrive at a cost-effective and highly satisfying outcome. Everything we do is aimed at adding value
      whilst delivering results that exceed the expectations of our clients.</p>

  </div>
  </div>
</div>
