
  <div id="location">

    <div id="contact">
        <h3>Get in touch:</h3>
        <i class="location arrow icon"></i>Getu Commercial Building, 4th floor, Office #401<br>
        <i class="cube icon"></i>P.O.Box: 7381, Addis Ababa, Ethiopia<br>
        <i class="call icon"></i>+251 118 626262<br>
        <i class="mobile icon"></i>+251 937 830083<br>
        <i class="mail icon"></i>  <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">info@baroqueinethiopia.com</a><br>
        <i class="mail outline icon"></i><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">salome@baroqueinethiopia.com</a><br>
        <!-- <i class="linkedin icon"><a href="" class="fa fa-linkedin"></i></a>
        <i class="facebook icon"><a href="" class="fa fa-facebook"></a></i> -->

        <a href="https://www.linkedin.com/in/salome-dagnachew-a1172235/" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin">
          <i class="linkedin icon">
          </i></a>

          <a href="https://www.facebook.com/baroque.inethiopia?fref=ts" title="Share on Facebook" target="_blank" class="btn btn-facebook">
            <i class="facebook icon">
            </i></a>

    </div>

    <iframe width="500" height="280" frameborder="0" style="border:0"
     src="https://www.google.com/maps/embed/v1/place?q=Getu%20Building%20Addis%20Ababa&key=AIzaSyBvjQY_LDqG-VBcKLPzLO_amEjskhdR9yo"
      allowfullscreen></iframe>
  </div>
