<div class="gallery clearfix">
<div class="pics clearfix">
<div class="thumbs">
<div class="preview"> <a href="#" class="selected" data-full="TWIN_BED_MODEL5.jpg" data-title="Title 1"> <%= image_tag("TWIN_BED_MODEL5.jpg", :alt => "VIP") %> </a> </div>
<div class="preview"> <a href="#" class="selected" data-full="Vip_lounge_2.jpg" data-title="Title 2"> <%= image_tag("Vip_lounge_2.jpg", :alt => "VIP") %> </a> </div>
<div class="preview"> <a href="#" class="selected" data-full="LIVING_ROOM4.jpg" data-title="Title 3"> <%= image_tag("LIVING_ROOM4.jpg", :alt => "VIP") %> </a> </div>
</div>
<a href="TWIN_BED_MODEL5.jpg" class="full" title="Title 1">
<%= image_tag("TWIN_BED_MODEL5.jpg", :alt => "VIP") %> </a> </div>
</div>
