<div class="ui two column centered grid" id="portlinks">
    <p class="port_file"><i id="phoI" class="photo icon"></i><%= link_to "Interiors", portfolio_path %></p>
    <p class="port_file"><i id="fiI" class="file icon"></i><%= link_to "Events", events_portfolio_path %></p>

</div>
