<div id="serv_wrapper">

<div class="leftcolumn">
  <div class="card">
  <h2> Commercial & Residential Interiors Service</h2>
    <p>By adopting a consulting approach, we begin every assignment by sitting down with our clients to
      discuss their detailed requirements, and helping them to reach an understanding of a solution
      regarding their interior style and design expectations. This method ensures that every solution
      is highly customized to suit the needs of our clients. We encourage our customers to have an
      organized and knowledgeable project implementation team that would not only respond to any project
      requirements on behalf of the client, but that can also perform a close site monitoring and
      counterpart supervision of the project. This method ensures better coordination of joint efforts
      between our project team and the customer’s project team.</p>
<p>
    ○ Design consultancy <br>
    ○ Interior architecture<br>
    ○ Renovation<br>
    ○ Concept design<br>
    ○ Space planning<br>
    ○ Colour consultation<br>
    ○ Finish boards & specifications<br>
    ○ Construction detail drawings<br>
    ○ Sustainable design<br>
    ○ Furniture procurement<br>
    ○ Installation coordination<br>
    ○ Art and accessories selection<br>
    ○ Interior styling<br>
    </p>
  </div>
</div>

<div class="rightcolumn">
  <div class="card">
  <h2>Event Planning & Management Service</h2>
  <p>Baroque Interiors and Events Plc. also provides top-class corporate events planning and management
  services for clients. Baroque can plan and manage different types of events from summits and
  international conferences/meetings, investor’s forums/business conferences, workshops, seminars,
  cultural shows, special programmes and events, product launching, etc.  Baroque Interiors and Event
  is able to undertake the following tasks and services on behalf of its clients:</p>
  <p>
    ○ Consultation & planning<br>
    ○ Set event and programme budget<br>
    ○ Choose date<br>
    ○ Create theme<br>
    ○ Select venue<br>
    ○ Preparation of programme and event brochures<br>
    ○ Arrange for the supply and erection of tents, and provision of chairs, tables, generators and other equipment<br>
    ○ Negotiate with and choose suppliers<br>
    ○ Arrange transportation<br>
    ○ Book blocks for hotel rooms<br>
    ○ Arrange caterer and choose menu<br>
    ○ Book entertainment – cultural/dance troupe, arrange for music equipment  and/or music provider (musicians or DJ)<br>
    ○ Recruitment of events staff and professionals such as translators, interpreters, secretaries, ushers, security personnel, etc.<br>
    ○ Arrange for media coverage, advertising and promotion<br>
    ○ Arrange for photographers and video coverage to record and document the event<br></div>
    </p>
</div>
</div>

    <!-- <p class="eventblts">
    The above services can be provided for any type of social, corporate, industry or special events
    irrespective of size and location. Contact us for any events you want to organize.</p> -->
