/* ======= landscape phone to portrait tablet ======= */
@media all and (min-width: 320px) and (max-width: 467px) {
  // body {
  //   background-position: center;
  //   background-image: url('addis.jpg');
  //   position: fixed;
  // }
  }
  /* ======= landscape phone ======= */
  @media all and (max-width: 319px) {
    /*body {
      background-image: url('addis.jpg');
      min-width: 300px;
    }*/
  }
h1{
  color: #A03539;
  text-align: center;
  margin-top: 200px;
  font-family: 'Abril Fatface', cursive;

}
h2, h3, h4 {
  color: #4C5C35;
  font-family: 'Abril Fatface', cursive;
  text-align: center;

}
p {
  padding: 10px;
}
/*==================================== navigation bar/footer =================== */
nav ul {
    list-style: none;
    width: 100%;
    border: 1px solid red;
    text-align: right;
 }
li {
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
}
li > a {
  color: #BAB9B9;
}
li :hover {
  width: 100px;
  border-radius: 50%;
  color: #A03539;
}
.links {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  background-color: #A03539;
}
.logo {
  // margin-bottom: 10px;
  // margin-left: 10px;
  width: 500px;
}
.brq {
  width: 900px;
  height: 200px;

}
.wrapper {
  // margin-left: 50px;
  // margin-right: 100px;
  // display: flex;
  // margin-top: 2px;
  align-items: center;
  align-content: space-around;
  padding: 5px;
}
// #icons {
//   float: right;
//   padding: 100px;
//   font-size: 20px;
// }
footer {
  list-style-type: none;
  // overflow: hidden;
  text-align: center;
  // margin-left: 150px;
  // margin-right: 200px;
  color: #4C5C35;
  width: 100%;
  clear: both;
  top: -40%;
  padding: 10px;
}

/* ======================================== home page ========================== */

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 20px;
}
#slideshow > div {
  position: absolute;
  top: -40px;
  left: 40px;
  bottom: 10px;
}
#homeSlideshow {
  width: 30%;
}
.slideimgs {
  height: 600px;
  width: 1000px;
}

.qod-author {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  color: #A03539;
}
/* ======================================= about page ========================== */

.salimg {
  width: 300px;
  height: 600px;
  margin-left: 100px;
}
.teamimg {
  width: 500px;
  height: 400px;
  padding: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
}
.title {
  color: grey;
}

/* ====================================== port  =========================== */
.port_files {
  margin-left: 600px;
  margin-top: 100px;
}

.port_file > a{
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  color: #BAB9B9;
}
.port_file :hover {
  width: 100px;
  border-radius: 50%;
  color: #A03539;
}
/* ====================================== portfolio  =========================== */
.container1 {
  margin-left: 200px;
  position: relative;
  width: 70%;
  margin-top: 50px;

}
.container {
    position: relative;
    width: 70%;
    margin-top: 50px;
    float: left;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  // border-radius: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.text > a {
  background-color: #731A1C;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Abril Fatface', cursive;
}
.files {
  display: inline-block;
  // margin-right: 150px;
  // margin-top: 50px;
  // padding: 50px;
  float: right;
}
.file > a{
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
  color: #BAB9B9;

}
.file :hover {
  width: 100px;
  border-radius: 50%;
  color: #A03539;
}
/* =========================================== events =========================*/

.carousel {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  display: flex;
  margin-top: 50px;
  padding: 10px;
  align-content: space-around;
}
#eventtxt {
  font-size: 18px;
  background-color: white;
  height: 100px;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
    margin-left: 30px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}







.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 150px;
    // float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
.cardE {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
}

/* ========================================= services ========================== */

#serv_wrapper {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  margin-top: 50px;
  padding: 10px;
  align-items: center;
  align-content: space-around;
}
.leftcolumn, .rightcolumn {
  margin-left: 10px;
  height: 800px;
  width: 800px;
  display: inline-block;
  background-color: white;
  padding: 10px;
}
.leftcolumn {
  margin-top: -5px;
}
#location {
  margin-left: 170px;
  margin-right: 150px;
  margin-top: 70px;
  height: 350px;
  background-color: white;
  color: black;
  display: flex;
  padding: 10px;
}
#contact {
  margin-top: 20px;
  margin-left: 50px;
  color: #731A1C;
  padding: 10px;
  font-family: 'Abril Fatface', cursive;
}
iframe {
  margin-top: 20px;
  margin-left: 140px;
  padding: 10px;
}
